* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.on {
    border-radius: 50%;
    font-size: x-large;
    color: white;
    border: 5px solid yellow;
    padding: 3rem;
}

.off {
    border: 5px solid blue;
    color: green;
    font-size: x-large;
    padding: 1rem;
}